@import url(http://fonts.googleapis.com/css?family=Average+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Questrial);

body 	{
	background-color: #717E8D;
	margin: 0px;
	padding: 0px;
	border: #FFFFFF 0px solid;
	}

html	{ overflow-y: scroll; }

/* ^^^ SEE CLASS "outer-background" BELOW */




/* DEFAULTS - MARGINS SPACING */

div		{ margin: 0; padding: 0; border: 0; }

table, tr, td	{ border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; border: 0; }




/* DEFAULTS - ALIGNMENT */

.td-right 	{ text-align: right; }

.td-left 	{ text-align: left; }

.td-center	{ text-align: center; }

.td-top		{ vertical-align: top; }

.td-middle	{ vertical-align: middle; }

.td-bottom	{ vertical-align: bottom; }

.center-align	{ text-align: center; }

.center-div	{ margin-left: auto; margin-right: auto; }

.right-div	{ margin-left: auto; margin-right: 0; }

.left-div	{ margin-left: 0; margin-right: auto; }




/* DEFAULTS - MISC */

.fullwidth	{ width: 100%; }

.halfwidth	{ width: 50%; }

.nobreak	{ white-space: nowrap; }

.just 		{ text-align: justify; }

img 		{ border: 0; }

.blockimage	{ display: block; }

.formmargin	{ margin: 0px; }




/* NON-MENU LINK COLORS */

a:link, 
a:visited, 
a:active 	{ color: #006699; text-decoration: none; }

a:hover 	{ color: #339999; text-decoration: underline; }




/* THE NEXT LINE CONTROLS THE FONT SIZE ON ALL PAGES */

body, div, table {
		color: #000000;
		font-family: "Average Sans", arial, helvetica, sans-serif;
		font-size: 15px;
		font-weight: 400;
		line-height: 140%;
		}

.title 		{ color: #000000; font: 26px "Questrial", arial, sans-serif; font-weight: normal; letter-spacing: 0px; line-height: 100%; }

.subtitle 	{ color: #000000; font: 19px "Average Sans", arial, sans-serif; font-weight: 700; line-height: normal; }

.smalltext	{ color: #000000; font: 13px "Average Sans", arial, sans-serif; font-weight: 400; padding-bottom: 5px; line-height: normal; }

.testimonial	{ color: #FFFFFF; font-weight: bold; }

.hilite		{ color: #663366; }




/* REMOVES MARGINS ON HEADING TAGS (FOR SEO) */

h1, h2, h3, h4	{ margin: 0px 0px 1px 0px; }




/* SERVICES LIST */

.list		{
		font-size: 17px;
		color: #000000;
		line-height: normal;
		text-align: left;
		margin-top: 0px;
		margin-bottom: 0px;
		}

.floatlist	{ float: left; width: 50%; min-width: 200px; }

.list li	{ text-indent: 1px; }




/* PAGE & CONTENT HEIGHTS AND WIDTHS & PADDING */

/* NOTE: IF YOU CHANGE THE PAGE WIDTHS EDIT & TEST THE MEDIA QUERIES IN THE media-queries.css */

.pageheight	{ min-height: 750px; }

.pagewrapper	{
		width: 100%;
		min-width: 315px;
		text-align: center;
		margin: 0 auto;
		}

.pagebox	{
		padding: 0px 0px 0px 0px;
		margin: 0 auto;
		}

#contentbox	{
		max-width: 850px;
		margin: 0 auto;
		padding: 30px 0px 10px 0px;
		}

.content-pad 		{ padding: 0px 35px 10px 15px; }

.content-pad-nosb 	{ padding: 0px 26px 10px 26px; }

#left-content 	{
		float: left;
		width: 100%;
		max-width: 555px;
		padding: 0px;
		}

/* HOME PAGE WIDTH */

#contentbox-home  {
		  max-width: 912px;
		  margin: 0 auto;
		  padding: 30px 0px 15px 0px;
		  }




/* TEXT AND GRAPHIC HEADER CODE */

#headerdiv	{
		padding: 15px 0px 15px 0px;
		margin: 0px 0px 0px 0px;
		border: #000000 0px solid;
		}

.headercolor	{ background-color: #3D81C8; }  /* EDIT .pagebox PADDING TO 0 ABOVE FOR FULL WIDTH */

.logo-respond	{
		height: 100px;
		width: 600px;
		max-width: 600px;
		min-width: 280px;
		margin: 0 auto 0 0;
		display: block;
		}

/* START TEXT HEADER CODE */

.textlogo	{
		font: normal 30px "Questrial", arial, sans-serif;
		width: 100%;
		padding: 4px 0px 6px 0px;
		display: block;
		}

a.textlogo:link, a.textlogo:visited, a.textlogo:active	{ color: #FFFFFF; text-decoration: none; }

a.textlogo:hover { color: #FFFFFF; text-decoration: none; }


/* SITE SEARCH */

.ss-header	{
		position: absolute;
		right: 8px;
		top: 8px;
		}

.ss-header-mobile	{
		display: none;
		position: absolute;
		right: 5px;
		top: 5px;
		}

.ss-margin	{ margin: 0px; }

table.ss-box td	{ padding: 0px 3px 0px 0px; }

.ss-box		{ margin: 10px 0px 10px 0px; }

.ss-form	{
		color: #000000;
		font: 15px arial, sans-serif;
		text-align: left;
		background-color: #CCCCCC;
		height: 19px;
		width: 180px;
		margin: 0px;
		border: #FFFFFF 1px solid;
		}

.ss-button 	{
		-webkit-appearance: none;
		margin-top: 3px;
		margin-left: 3px;
		cursor: pointer;
		outline: none;
		}




/* INNER AND OUTER BACKGROUNDS */

.outer-background	{
			background-color: #FFFFFF;
			background-image: none;
			background-repeat: repeat;
			background-attachment: fixed;
			}

.inner-background	{
			background-color: transparent;
			border: #000000 0px solid;
			}




/* IMAGE BORDERS, FLOATS AND IMAGE SPACING */

.img-borders	{
		border: #000000 1px solid;
	/* CORNER ROUNDING */
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		border-radius: 5px;
		}

.img-float	{ float: left; margin: 3px 8px 1px 0px; }

.float-item	{ float: left; margin-right: 15px; margin-bottom: 2px; }

.float-item2	{ float: left; margin-right: 12px; margin-bottom: 0px; }

.text-nowrap	{ overflow: hidden; min-width: 175px; }

.divclear 	{ height: 1px; clear: both; font-size: 1px; line-height: 1px; padding: 0px; margin: 0px; }




/* PAGE LINES & BORDERS */

.page-splits 	{
		line-height: 1px;
		font-size: 1px;
		height: 3px;
		background-color: transparent;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 0px;
		border: #7D8996 1px solid;
		border-width: 1px 0px 1px 0px;
		/* NOTE: BORDERs ABOVE ARE | top | right | bottom | left */
		}

.splits-xtramargin { margin-top: 30px; margin-bottom: 30px; }

/* LARGE PAGE SPLITS */

.large-splits 	{
		width: 99%;
		line-height: 1px;
		font-size: 1px;
		height: 23px;
		background-color: #CCCCCC;
		margin: 0 auto;
		padding: 0px;
		border: #5C6A78 1px solid;
		border-width: 1px 1px 1px 1px;
		/* NOTE: BORDERs ABOVE ARE | top | right | bottom | left */
		}




/* HOME PAGE */

.content-pad-home	{
			padding: 25px 15px 25px 15px;
			margin: 0px auto 0px auto;
			max-width: 840px;
			}

.page-splits-home 	{
		max-width: 840px;
		line-height: 1px;
		font-size: 1px;
		height: 2px;
		background-color: transparent;
		margin: 10px auto 10px auto;
		padding: 0px;
		border-top: #7D8996 1px solid;
		border-width: 1px 0px 1px 0px;
		/* NOTE: BORDERs ABOVE ARE | top | right | bottom | left */
		}

/* WHITE BACKGROUND STYLES */

.outer-background-home	{ background-color: #CDD4DB; }


/* HOME 3x BOX COLUMNS */

.introbox-outer	{ width: 900px; margin: 0 auto; }

.introbox	{
		float: left;
		width: 300px;  /* DIVIDED BY 3 */
		}

.introbox-inner	{
		background-color: transparent;
		padding: 10px 20px 14px 20px;
		margin: 14px 10px 14px 10px;
		}

.introbox-left		{ display: block; }

.introbox-center	{ display: block; }

.introbox-right		{ display: block; }


/* HOME IMAGES 3x */

.imagesbox	{
		width: 241px;
		height: auto;
		overflow: hidden;
		cursor:pointer;
		margin: 0 auto;
		border: 0px solid #000000;
		}

.introimages img	{
			width: 241px;
			height: auto;
			vertical-align: bottom;
			}

/* HOME 2x BOX COLUMNS */

.introbox2-outer	{ width: 900px; margin: 0 auto; }

.introbox2	{
		float: left;
		width: 450px;  /* DIVIDED BY 2 */
		}

.introbox2-inner	{
		font-size: 14px;
		background-color: #ffffff; 
		padding: 10px 6px 10px 6px;
		margin: 14px 10px 14px 10px;
		}

.introbox2-left		{ display: block; margin-left: 30px; }

.introbox2-right	{ display: block; margin-right: 30px; }




/* OPTIONAL HOME PAGE */

.homelinks	  { color: #666666; }

.home-caption	{
		color: #000000;
		font: 16px "Average Sans", arial, sans-serif;
		font-weight: normal;
		font-style: normal;
		padding: 10px 0px 20px 0px;
		}




/* JQUERY SLIDESHOWS (HOME & SETS) (SEE ALSO responsive-slides.css IN FOLDER JQuery) */

.rslides_container	{
			background-color: #717E8D;
			max-width: 840px;
			min-width: 250px;
			text-align: center;
			margin: 0px auto 20px auto;
			position: relative;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			border: #000000 0px solid;
  		/* CORNER ROUNDING */
			-moz-border-radius: 0px;
			-webkit-border-radius: 0px;
			-khtml-border-radius: 0px;
			border-radius: 0px;
			}

.rslides_container img	{
  		/* CORNER ROUNDING */
			-moz-border-radius: 0px;
			-webkit-border-radius: 0px;
			-khtml-border-radius: 0px;
			border-radius: 0px;
			}

#homeJQ > .centered-btns_nav	{ display: none; }  /* HIDES HOME ARROWS */

/* SLIDESHOW ROUND ACTIVE BUTTON STYLES */

.centered-btns_tabs	{
			width: 100%;
			position: absolute;
			bottom: 10px;
			left: 0px;
			margin: 0 auto;
			text-align: center;
			z-index: 1000;
			background-color: transparent;
			}

/* NORMAL BUTTON STATE */

.centered-btns_tabs a 	{
			width: 10px;
			height: 10px;
			background-color: transparent;
			border: #FFFFFF 2px solid;
		/* CORNER ROUNDING */
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
			margin: 0px 4px 0px 4px;
			}

/* HOVER BUTTON STATE */

.centered-btns_tabs a:hover 
			{ background-color: #FFFFFF; border: #FFFFFF 2px solid; }

/* ACTIVE BUTTON STATE */

.centered-btns_here a, .centered-btns_here a:hover  
			{ background-color: #FF0000; border: #CC0000 2px solid; cursor: default; }




/* FOR OPTIONAL HOME PAGE IMAGE */

.homeimage	{ width: 100%; display: block; }

.homeimage-border	{
			max-width: 900px;
			min-width: 250px;
			margin: 0 auto;
			box-sizing: border-box;
			border: #000000 0px solid;
  		/* CORNER ROUNDING */
			-moz-border-radius: 0px;
			-webkit-border-radius: 0px;
			-khtml-border-radius: 0px;
			border-radius: 0px;
			}




/* RIGHT SIDEBAR */

#sidebar-content 	{
			float: left;
			width: 100%;
			max-width: 280px;
			padding: 0px;
			border-left: #7D8996 1px solid;
			}

.sidebar-pad 	  	{ padding: 0px 0px 10px 35px; }

.sidebar-textarea	{
			text-align: left;
			width: 235px;
			margin: 0 auto;
			padding: 0px 0px 10px 0px;
		  	border: solid #717E8D;
		  	border-width: 0px 0px 0px 0px;
		  	/* NOTE: BORDERs ABOVE ARE | top | right | bottom | left */
			}

.sidebar-text 	{
		color: #000000;
		font: 15px "Average Sans", arial, sans-serif;
		text-align: left;
		font-weight: 400;
		line-height: 150%;
		}

.sidebar-title	{
		color: #FFFFFF;
		font: 20px "Questrial", arial, sans-serif;
		font-weight: normal;
		line-height: normal;
		background-color: #5C6A78;
		padding: 8px 5px 9px 8px;
		margin: 0px auto 7px auto;
	/* CORNER ROUNDING */
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;
		border-radius: 3px;
		}

.sidebar-image	{
		display: block;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		margin: 0px auto 15px auto;
		border: #000000 1px solid;
	/* CORNER ROUNDING */
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		border-radius: 5px;
		}

.side-links	{
		padding: 10px 0px 10px 0px;
		margin: 0px;
		}

.side-links a	{
		font: 16px "Questrial", arial, sans-serif;
		font-weight: 400;
		line-height: normal;
		display: block;
		padding: 9px 0px 9px 10px;
		border: dashed #717E8D;
		border-width: 0px 0px 1px 0px;
		/* NOTE: BORDERs ABOVE ARE | top | right | bottom | left */
		}

.side-links a:first-child { border-width: 1px 0px 1px 0px; }




/* FOOTER */

.footer-splits 	{
		color: #FFFFFF;
		height: 5px;
		line-height: normal;
		background-color: #5C6A78;
		margin: 0px auto 0px auto;
		padding: 0px;
		border: solid #000000;
		border-width: 0px 0px 0px 0px;
		}

#FooterFRM	{ visibility: visible; }

.footer-frame	{
		display: block;
		width: 100%;
		overflow: hidden;
		margin: 0px;
		padding: 0px;
		}

.footer-height	{ height: 375px; }

.footer-page	{
		background-color: #5C6A78;
		margin: 0px;
		padding: 0px;
		background-image: none;
		}

.footer-page, .footer-page div, .footer-page table { color: #FFFFFF; }

.footer-pad	{ padding: 50px 10px 10px 10px; }

.footer-border	{
		border: solid #000000;
		border-width: 0px 0px 0px 0px;
		/* NOTE: BORDERs ABOVE ARE | top | right | bottom | left */
		}

div.footer-title {
		color: #FFFFFF;
		font: 20px "Questrial", arial, sans-serif;
		font-weight: 500;
		padding-bottom: 5px;
		margin-bottom: 3px;
		border-bottom: #9BA8B8 1px solid;
		}

table.footer-links td 	{
			padding: 5px 30px 5px 30px;
			border-right: #7A8796 1px solid;
			}

.footer-image		{
			margin: 50px 0px 3px 12px;
			border: #000000 1px solid;
			}

.footer-image-table	{ margin-left: 20px;}

.footer-links	{ font-size: 14px; line-height: 30px; }

.footer-social	{ width: 180px; padding-left: 10px; }

.footerlinks-1	{ width: 33%; }

.footerlinks-2	{ width: 33%; }

.footerlinks-3	{ width: 33%; }

.html5-icon	{ margin-top: 12px; margin-bottom: 8px; }

.footer-copyright {
		  color: #FFFFFF;
		  font: 12px "Average Sans", arial, sans-serif;
		  font-weight: normal;
		  line-height: normal;
		  padding: 14px 0px 14px 0px;
		  margin: 0px 0px 0px 0px;
		  background-color: #4E5C6A;
		  border: solid #9BA8B8;
		  border-width: 1px 0px 0px 0px;
		  /* NOTE: BORDERs ABOVE ARE | top | right | bottom | left */
		  }


/* FOOTER LINK COLORS */

body.footer-page a:link, 
body.footer-page a:visited, 
body.footer-page a:active 	{ color: #FFFFFF; text-decoration: none; white-space: nowrap; }

body.footer-page a:hover 	{ color: #D6FFAD; text-decoration: underline; white-space: nowrap; }


/* COPYRIGHT LINK COLORS */

div.footer-copyright a:link, 
div.footer-copyright a:visited, 
div.footer-copyright a:active 	{ color: #FFFFFF; text-decoration: none; }

div.footer-copyright a:hover 	{ color: #D6FFAD; text-decoration: underline; }




/* SOCIAL ICONS (SEE ALSO .footer-social ABOVE) */

.socialspace	   { padding-left: 1px; padding-right: 2px; }

.socialRspace	   { width: 0px; }

.socialicon	   {
		   border: #FFFFFF 0px solid;
		   display: block;
		   background-color: #5C6A78;
		   padding: 0px;
		   border: #9BA8B8 1px solid;
	/* CORNER ROUNDING */
		   -moz-border-radius: 4px;
		   -webkit-border-radius: 4px;
		   -khtml-border-radius: 4px;
		   border-radius: 4px;
		   }

.socialicon:hover  {
		   border: #FFFFFF 1px solid;
		   background-color: #717E8D;
		   }

.mobile-social	   { display: none; }




/* JQUERY SLIDESHOW SETS (SEE ALSO HOME JQUERY ABOVE & responsive-slides.css IN FOLDER JQuery) */

.HoverBorder	{
		border: #000000 1px solid;
		vertical-align: bottom;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		}

a:hover .HoverBorder 	{ border: #5AC7FF 1px solid; }

.slide-setwidth		{ max-width: 700px; }



/* BUTTONS ON slideshow-home.htm */

a.view-slideshow:link, a.view-slideshow:visited, a.view-slideshow:active 
		{
		color: #FFFFFF;
		font: 14px "Average Sans", arial, sans-serif;
		font-weight: normal;
		text-align: center;
		text-decoration: none;
		background-color: #5C6A78;
		padding: 6px 0px 6px 0px;
		margin: 6px auto 6px auto;		
		display: block;
		display: inline-block;
		cursor: pointer;
		width: 132px;
		border: #A2AAB2 1px solid;
  	/* CORNER ROUNDING */
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;
		border-radius: 3px;
		}

a.view-slideshow:hover
		{
		color: #FFFFFF;
		background-color: #0081F7;
		border: #5AC7FF 1px solid;
		}




/* CONTACT & QUOTES PAGE CODE */

.contact-pad 			{ padding: 15px 0px 15px 0px; }

.contact-select			{ color: #330033; font-weight: normal; }

.form-box			{ margin: 20px 0px 10px 50px; }

input[type=submit].submitbutton, input[type=reset].submitbutton 
		{
		color: #FFFFFF;
		font: normal 18px "Questrial", arial, sans-serif;
		text-align: center;
		background-color: #5C6A78;
		-webkit-appearance: none;
		padding: 7px 8px 7px 8px;
		margin: 0px 0px 0px 0px;
		cursor: pointer;
		width: 120px;
		border: #A2AAB2 1px solid;
	/* CORNER ROUNDING */
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;
		border-radius: 3px;
		}

input[type=submit].submitbutton:hover, input[type=reset].submitbutton:hover 
		{
		color: #FFFFFF;
		background-color: #0081F7;
		border: #5AC7FF 1px solid;
		}

.shadeform	{
		font: 13px arial, sans-serif;
		color: #000000;
		background-color: #FFFFFF;
		background-image: url("picts/shadeform.png");
		text-align: left;
		width: 200px;
		margin-top: 1px;
		margin-bottom: 7px;
		border: #FFFFFF 1px solid;
		}

.textarea	{
		font: 13px arial, sans-serif;
		background-color: #FFFFFF;
		color: #000000;
		background-image: url("picts/shadeform.png");
		text-align: left;
		width: 250px;
		height: 150px;
		margin-top: 2px;
		margin-bottom: 7px;
		border: #FFFFFF 1px solid;
		}

.dropdown 	{
		font: 13px arial, sans-serif;
		background-color: #FFFFFF;
		color: #000000;
		width: 225px;
		margin-top: 3px;
		margin-bottom: 7px;
		}

/* QUOTES PAGE - MODIFIES ABOVE CLASSES */

.quotechoice 	{ color: #330033; }

.quoteform	{ width: auto; }

.dropquotes	{ width: auto; }

input[type=submit].quotebutton	{ width: 200px; }




/* CONTACT PAGE GOOGLE MAP & DIRECTIONS */

#map-canvas	{ width: 235px; height: 160px; }


/* CONTACT PAGE GOOGLE DIRECTIONS */

.directions		{ font-size: 15px; font-weight: normal; line-height: normal; padding: 8px 0px 5px 0px; }

.directions .shadeform	{ width: 233px; margin: 0px 0px 5px 0px; }

input[type=submit].directionbutton	{ width: 235px; }


/* OPTIONAL No-Form-contact.htm PAGE */

.no-formmargin	{ margin: 25px 0px 25px 0px; }




/* LINKS PAGE CODE */

table.searcharea td	{ padding: 0px 3px 0px 0px; }

.searcharea		{ margin: 18px 0px 18px 0px; }

.searchform 	{
		color: #000000;
		font: 12px arial, sans-serif;
		text-align: left;
		background-color: #FFFFFF;
		background-image: url("picts/shadeform.png");
		width: 110px;
		border: #999999 1px solid;
		}

.searchbutton 	{
		color: #FFFFFF;
	       	font: bold 12px arial, sans-serif;
		text-align: center;
		background-color: #5C6A78;
		-webkit-appearance: none;
		height: 21px;
		margin-top: 0px;
		cursor: pointer;
		border: #A2AAB2 1px solid;
  	/* CORNER ROUNDING */
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;
		border-radius: 3px;
		}




/* PAYPAL payments.htm PAYMENT PAGE CODE */

.payform 			{ width: 150px; }

input[type=submit].payform 	{ width: 152px; margin-bottom: 10px; }

.payformbox	{
		background-color: transparent;
		border: #7B8897 1px solid;
		}

.paypaltable td	{ vertical-align: middle; padding: 6px 10px 6px 10px; }

.paypalbadge-space	{ padding: 30px 10px 8px 0px; }




/* CALENDAR PAGE */

blockquote.calbox 	{
		color: #FFFFFF;
		font-size: 13px;
		line-height: normal;
		background-color: #8A95A6;
		margin-top: -30px;
		margin-bottom: 0px;
		margin-left: 50px;
		margin-right: 0px;
		padding: 8px 8px 8px 10px;
		border-top: 1px solid #A2AAB2;
		border-right: 1px solid #A2AAB2;
		border-bottom: 1px solid #A2AAB2;
		border-left: 6px solid #A2AAB2;
	/* CORNER ROUNDING */
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		-khtml-border-radius: 4px;
		border-radius: 4px;
		} 

.calendarnum 	{ color: #000000; font-size: 25px; }

.bigtitle 	{
		color: #000000;
		font: 36px "Questrial", arial, sans-serif;
		letter-spacing: 0px;
		font-weight: normal;
		line-height: normal;
		padding: 0px 0px 0px 6px;
		}

.icon-space	{ margin-top: 10px; margin-bottom: 3px; }

.clickdate-text	{ font-size: 12px; text-align: center; padding: 4px 0px 2px 0px; }




/* SMALL CALENDAR */

.calendar	{ border: #A2AAB2 1px solid; background-color: #C0C9D2; }

.calendarinner	{ border-collapse: collapse; border-spacing: 0px; }

.calspace	{ padding: 0px; }

.calendartitle	{
		color: #FFFFFF;
		background-color: #007AA5;
		font: bold 18px "Questrial", arial, sans-serif;
		padding: 4px 4px 4px 8px;
		text-align: left;
		border-bottom: #00FF61 2px solid;
		}

.caldays	{
		width: 32px;
		height: 26px;
		background-color: #9DA6B4;
		color: #FFFFFF;
		font: normal 13px "Average Sans", arial, sans-serif;
		border-right: #A2AAB2 1px solid;
		border-bottom: #00FF61 1px solid;
		text-align: center;
		}

.calday		{
		width: 32px;
		background-color: #7B8897;
		color: #FFFFFF;
		font: bold 15px "Average Sans", arial, sans-serif;
		border-right: #9DA6B4 1px solid;
		border-bottom: #00FF61 1px solid;
		text-align: center;
		}

.caldates	{
		height: 27px;
		background-color: #C0C9D2;
		color: #FFFFFF;
		font: normal 13px "Average Sans", arial, sans-serif;
		border-right: #A2AAB2 1px solid;
		border-bottom: #A2AAB2 1px solid;
		text-align: center;
		}

.calhilite	{
		background-color: #CCFFCC;
		color: #FFFFFF;
		font: bold 22px "Average Sans", arial, sans-serif;
		text-align: center;
		}




/* PDF PAGE */

.pdf-icon	{ margin: 1px 0px 0px 15px; }



/* STAFF PAGE */

.staff-email	{
		color: #000000;
		font-family: "Average Sans", arial, sans-serif;
		font-weight: normal;
		line-height: normal;
		margin: 7px 0px 0px 0px;
		padding: 5px 0px 0px 0px;
		border-top: #AFC4FF 1px solid;
		}




/* HIDE MENU AND ITEMS FOR PRINTING */

@media print {
.printhide 	{ display:none; }
.pageheight 	{ min-height: 50px; }
}
@media screen{
.printonly 	{ display:none; }
}



